<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xytong.data.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xytong.data.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="name" column="name" jdbcType="VARCHAR"/>
            <id property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="createTimestamp" column="create_timestamp" jdbcType="TIMESTAMP"/>
            <result property="isAdmin" column="is_admin" jdbcType="OTHER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="OTHER"/>
            <result property="birthdayTimestamp" column="birthday_timestamp" jdbcType="TIMESTAMP"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="tokenPassTimestamp" column="token_pass_timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,
        create_timestamp,is_admin,avatar,
        gender,birthday_timestamp,email,
        password,token,token_pass_timestamp
    </sql>
</mapper>
